section {
  display: inline;
  vertical-align: top;
}

body {
  font-family: "Work Sans", sans-serif;
}

body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: #1a1919;
  color: #fff;
}

div,
ul,
li {
  background-color: inherit;
}

.top-bar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#about {
  padding: 0.75rem 1.25rem;
  margin: 1rem 1rem 1rem 1rem;
  max-width: 20%;
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
  color: #333;
}

.dropzone {
  font-size: 1rem;
  border: 1px solid #cdcdcd;
  padding: 0.75rem 1.25rem;
  margin: 1rem 1rem 1rem 1rem;
  color: inherit;
  font-weight: 600;
  text-align: center;
  width: 80%;
}

.muted-button {
  margin: 0rem 1rem 1rem 1rem;
  border-radius: 0px;
  color: inherit;
  vertical-align: top;
}

.bodyCol {
  display: inline;
  line-height: normal;
  margin: 0rem 1rem 1rem 1rem;
}

.react-toggle {
  padding: 0.75rem 1.25rem;
  margin: 0rem 0rem 1rem 0rem;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  display: inline-block;
  vertical-align: top;
}

label,
.label-text {
  vertical-align: top;
  font-weight: 600;
  font-size: 1rem;
  display: inline-block;
}

label {
  margin: 0rem 0rem 1rem 0rem;
}

.label-text {
  padding: 0.75rem 0rem;
  margin: 0rem 1rem 1rem 0rem;
}

p,
ol {
  font-size: 1vw;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 250px;
  -moz-column-width: 250px;
  column-width: 250px;
  -webkit-column-gap: 4em;
  -moz-column-gap: 4em;
  column-gap: 4em;
  column-fill: balance;
  -moz-column-fill: balance;
  -webkit-column-fill: balance;
}

li {
  padding: 1rem 0 0 0;
  margin: 0;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

#tracklist {
  padding: 1rem 0 1rem 0;
}

.track-title {
  font-family: "Work Sans Light", sans-serif;
}
