section {
  display: flex;
}

/*
dark mode
*/
body.light-mode {
  font-family: "Work Sans", sans-serif;
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  font-family: "Work Sans", sans-serif;
  background-color: #1a1919;
  color: #fff;
}

/*
  toggles
  */
.dark-toggle,
.track-toggle,
.react-toggle {
  padding: 0.75rem 1.25rem;
  margin: 1rem 0rem 1rem 0rem;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

[type="checkbox"],
[type="radio"] {
  display: inline;
}

label {
  font-size: 1rem;
  display: inline-block;
  text-indent: -22px;
  padding: 0.75rem 0rem;
  margin: 1rem 1rem 1rem 1rem;
}

/*
dropzone
*/
.dropzone {
  font-size: 1rem;
  border: 1px solid #404040;
  padding: 0.75rem 1.25rem;
  margin: 1rem 1rem 1rem 1rem;
  font-family: "Work Sans", sans-serif;
  width: 40%;
}

p,
ol {
  margin: 1rem 0 1rem 0;
  padding: 0.5rem 1rem;
}

li {
  padding: 1rem 0 0 0;
  margin: 0;
}
.button,
a.button,
button,
[type="submit"],
[type="reset"],
[type="button"] {
  margin: 1rem 1rem 1rem 1rem;
}

.track-title {
  font-family: "Work Sans ExtraLight", sans-serif;
}
